// * ===========================================================================
// * Icon - Variables
// * ===========================================================================

$icon__background-color: transparent;
$icon__background-color--primary: $--color-primary;
$icon__background-color--secondary: $--color-secondary;

$icon__border: none;
$icon__border--primary: none;
$icon__border--secondary: none;

$icon__border-radius: 0px;
$icon__border-radius--primary: 0px;
$icon__border-radius--secondary: 0px;

$icon__box-shadow: none;
$icon__box-shadow--primary: none;
$icon__box-shadow--secondary: none;

$icon--size: $--font-size--base;
$icon--size--large: $--font-size--h4;
$icon--size--medium: $--font-size--h5;
$icon--size--small: $--font-size--base;
$icon--size--x-large: $--font-size--h1;

// * ===========================================================================
// * Icon - Styles
// * ===========================================================================

